body {
    background-color: rgb(169, 124, 212);
}

nav {
    margin: ;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 32, 70);
}

li {
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: black;
}

#greeting {
    text-align: center;
    padding: 150px;

}

.hero-section {
    background-color: rgb(183, 169, 197);
}

.aboutme-section {
    width:100;
    padding: 78px 0px;
    background-color: rgb(183, 169, 197);
}

.aboutme-section img {
    height: auto;
    width: 420px;
}

.aboutme-text{
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aboutme-text h1 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.aboutme-text h5 {
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: 2px;;
}

span {
    color: purple;
}

.aboutme-text {
    color: rgb(140, 95, 140);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18x;
    margin-bottom: 45px;
}